<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>

  <body>
  <a href="sample app", id:"logo">sample app</a>  	
  
   <nav>
    <ul>  
      <li><a href="#">Home</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Log in</a></li>
    </ul>
    </nav>
    <h1>Welcome to the Sample App</h1>
    <p>
    <h3>
       This is the home page for the<a href= "http://www.railstutorial.org/"> Ruby on Rails Tutorial</a> sample application
     </h3> 	
     </p>  
     <a href="#"> Sign up now!</a>
     <img  align=top vspace="25" bg clear=all width=10% height="10%" src="anh.png">
  </body>
</html>
